<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create new category</title>
</head>
<body>
<h1>Create new category</h1>
<p>
    <th:if test="${message != null}">
        <span class="message" th:text="${message}"></span>
    </th:if>
</p>
<p>
    <a href="/categories">Back to category list</a>
    | <a href="/blogs">Back to Blog List</a>
</p>
<form th:object="${category}" th:action="@{/categories/create}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create category"></td>
        </tr>
    </table>
</form>
</body>
</html>